<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Scroll Animation</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <h1 style="text-align: center">Infinite Scroll Animation</h1>

    <div class="scroller" data-direction="right" data-speed="fast">
        <div class="scroller__inner">
            <img src="https://framerusercontent.com/images/RymQCrAB6gvOqpn1xtrpURNUjYI.webp" alt="" />
            <img src="https://framerusercontent.com/images/7arQdsct6QdwegMOyLI2uqjt3Uk.webp" alt="" />
            <img src="https://framerusercontent.com/images/qK3Anm19d1xxXC079sG2SiYGj4.webp" alt="" />
            <img src="https://framerusercontent.com/images/Z6UiAvdrZGR7HCuFVsy60nCXvsg.webp" alt="" />
            <img src="https://framerusercontent.com/images/9wwrnwdOJ0fZiGNRW8Qt0SJWh5M.webp" alt="" />
            <img src="https://framerusercontent.com/images/mvWHwYTD5eWUx3tOcqbQljaosJk.webp" alt="" />
        </div>
    </div>

    <script src="./index.js"></script>
</body>
</html>
